<section>
  <div class="page-header">
    <h1>{{vm.department._id ? 'Edit Department' : 'New Department'}}</h1>
  </div>
  <div class="col-md-12">
    <form name="vm.form.departmentForm" class="form-horizontal" ng-submit="vm.save(vm.form.departmentForm.$valid)" novalidate>
      <fieldset>
        <div class="form-group" show-errors>
          <!--Name-->
          <label class="control-label" for="name">Name</label>
          <input name="name" type="text" ng-model="vm.department.name" id="name" class="form-control" placeholder="Name" required>
          <div ng-messages="vm.form.departmentForm.name.$error" role="alert">
            <p class="help-block error-text" ng-message="required">Department name is required.</p>
          <!--Description-->
          <label class="control-label" for="description">Description</label>
          <input name="description" type="text" ng-model="vm.department.description" id="description" class="form-control" placeholder="Description" required>
          <div ng-messages="vm.form.departmentForm.description.$error" role="alert">
            <p class="help-block error-text" ng-message="required">Department description is required.</p>
          </div>  
          </div>
        </div>
        <div class="form-group">
          <button type="submit" class="btn btn-default">{{vm.department._id ? 'Update' : 'Create'}}</button>
        </div>
        <div ng-show="vm.error" class="text-danger">
          <strong ng-bind="vm.error"></strong>
        </div>
      </fieldset>
    </form>
  </div>
</section>
