<section ng-controller="HomeController">
  <div class="jumbotron text-center">
    <div class="row">
      <div class="col-md-6 col-md-offset-3 col-sm-6 col-sm-offset-3 col-xs-12">
        <img alt="MEAN.JS" class="img-responsive text-center" src="modules/core/client/img/brand/pita-pan.png" />
      </div>
    </div>
    <br>
    <div class="row">
      <p class="lead">
        Management Software
      </p>
    </div>
  </div>
  <div class="row">
    <div class="col-md-3">
      <h2><strong>T</strong>rack</h2>
      <p>Track key data on products, customers, employees and transactions.</p>
    </div>
    <div class="col-md-3">
      <h2><strong>A</strong>nalyze</h2>
      <p>Use key data points from tracking data to drive product deployment, reward loyal customers, and reward and promote employees.</p>
    </div>
    <div class="col-md-3">
      <h2><strong>P</strong>rofit</h2>
      <p>Use the data gathered through analytics to increase profit margins, leverage data to enhance negotiation with manufactorers.</p>
    </div>
    <div class="col-md-3">
      <h2><strong>I</strong>mprove</h2>
      <p>Use analytics to improve customer satisfaction, decrease employee turnover, and overall store offerings.</p>
    </div>
  </div>
</section>
