<section>
  <div class="page-header">
    <h1>{{vm.employee._id ? 'Edit Employee' : 'New Employee'}}</h1>
  </div>
  <div class="col-md-12">
    <form name="vm.form.employeeForm" class="form-horizontal" ng-submit="vm.save(vm.form.employeeForm.$valid)" novalidate>
      <fieldset>
        <div class="form-group" show-errors>
        <!--First Name-->
          <label class="control-label" for="firstName">First Name</label>
          <input name="firstName" type="text" ng-model="vm.employee.firstName" id="firstName" class="form-control" placeholder="First Name" required>
          <div ng-messages="vm.form.employeeForm.firstName.$error" role="alert">
            <p class="help-block error-text" ng-message="required">Employee first name is required.</p>
          </div> 
        <!--Last Name-->
          <label class="control-label" for="lastName">Last Name</label>
          <input name="lastName" type="text" ng-model="vm.employee.lastName" id="lastName" class="form-control" placeholder="Last Name" required>
          <div ng-messages="vm.form.employeeForm.lastName.$error" role="alert">
            <p class="help-block error-text" ng-message="required">Employee last name is required.</p>   
          </div>
        <!--Email-->
          <label class="control-label" for="email">Email</label>
          <input name="email" type="email" ng-model="vm.employee.email" id="email" class="form-control" placeholder="email@example.com" required>
          <div ng-messages="vm.form.employeeForm.email.$error" role="alert">
            <p class="help-block error-text" ng-message="required">Employee email is required.</p>   
          </div>
        <!--Phone-->
          <label class="control-label" for="phoneNumber">Phone Number</label>
          <input name="phoneNumber" type="text" ng-model="vm.employee.phoneNumber" id="phoneNumber" class="form-control" placeholder="(555) 123-4567" required>
          <div ng-messages="vm.form.employeeForm.phoneNumber.$error" role="alert">
            <p class="help-block error-text" ng-message="required">Employee phone number is required.</p>   
          </div>
        <!--Address-->
          <label class="control-label" for="address">Address</label>
          <input name="address" type="text" ng-model="vm.employee.address" id="address" class="form-control" placeholder="123 Main St. Anytown, IN 55555" required>
          <div ng-messages="vm.form.employeeForm.address.$error" role="alert">
            <p class="help-block error-text" ng-message="required">Employee address is required.</p>   
          </div>
        <!--Date of Birth-->
          <label class="control-label" for="dob">Date of Birth</label><br>
          <small><i>If not using Chrome Browser, input date as YYYY-MM-DD</i></small>
          <input name="dob" type="date" ng-model="vm.employee.dob" id="dob" class="form-control" placeholder="YYYY-MM-DD" required>
          <div ng-messages="vm.form.employeeForm.dob.$error" role="alert">
            <p class="help-block error-text" ng-message="required">Employee date of birth is required.</p>   
          </div>  
        <!--Date Hired-->
          <label class="control-label" for="dateHired">Date Hired</label><br>
          <small><i>If not using Chrome Browser, input date as YYYY-MM-DD</i></small>
          <input name="dateHired" type="date" ng-model="vm.employee.dateHired" id="dateHired" class="form-control" placeholder="YYYY-MM-DD" required>
          <div ng-messages="vm.form.employeeForm.address.$error" role="alert">
            <p class="help-block error-text" ng-message="required">Employee date hired is required.</p>   
          </div>
        <!--Department-->
          <label class="control-label" for="department">Department</label>
          <select name="department" type="text" ng-options="item.name as item.name for item in vm.departments" ng-model="vm.employee.department" id="product" class="form-control" placeholder="Department" required>
          </select>
          <div ng-messages="vm.form.employeeForm.department.$error" role="alert">
            <p class="help-block error-text" ng-message="required">Employee department is required.</p>   
          </div>  
        </div>
        <div class="form-group">
          <button type="submit" class="btn btn-default">{{vm.employee._id ? 'Update' : 'Create'}}</button>
        </div>
        <div ng-show="vm.error" class="text-danger">
          <strong ng-bind="vm.error"></strong>
        </div>
      </fieldset>
    </form>
  </div>
</section>
